<footer class="site-footer">

  <div class="wrapper">

    <!-- <h2 class="footer-heading">{{ site.title }}</h2> -->

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col  footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            <a href="https://github.com/{{ site.github_username }}">
              <span class="icon icon--github">
                <img src="/images/icon_github.svg"/>
              </span>

              <span class="username">{{ site.github_username }}</span>
            </a>
          </li>
          {% endif %}

          {% if site.bitbucket_username %}
          <li>
            <a href="https://bitbucket.org/{{ site.bitbucket_username }}">
              <span class="icon">
                <img src="/images/icon_bitbucket.svg"/>
              </span>

              <span class="username">{{ site.bitbucket_username }}</span>
            </a>
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            <a href="https://twitter.com/{{ site.twitter_username }}">
              <span class="icon  icon--twitter">
                <img src="/images/icon_twitter.svg"/>
              </span>

              <span class="username">{{ site.twitter_username }}</span>
            </a>
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <a href="http://www.cmu.edu">CMU</a><br/>
        <a href="http://www.cylab.cmu.edu">CyLab</a><br/>
        <a href="http://www.cs.umd.edu/projects/PL/">PLUM</a>
      </div>
    </div>

  </div>

</footer>
